* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Helvetica Neue, Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* --------------------------------------------- */
/* --- NAV  ------------------------ */
/* --------------------------------------------- */
nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0px 15px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.5s ease-out;
}
nav ul li a:hover {
  filter: brightness(50%);
}
.nav-logo {
  margin-left: 50px;
}

.aclass1-link {
  color: #fff;
  border-radius: 8px;
  background: #09c269;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}
.aclass1-link:hover {
  color: white;
  filter: brightness(30%);
}

.nav__open {
  height: 3rem;
  color: #fff;
  color: black;
  display: block;
  opacity: 0;
  visibility: hidden;
}
#click {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 400px) {
  nav {
    justify-content: space-around;
  }
  nav ul {
    position: fixed;
    top: 50px;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;

    background-color: #000;
    z-index: 1;
    transition: all 0.4s;
  }
  nav ul li {
    margin: 40px 0px;
  }
  #click:checked ~ .ul {
    left: 0%;
  }
  #click {
    opacity: 0;
    visibility: hidden;
  }
  .ionicon:visited ~ .ul {
    left: 0%;
  }
  nav ul li a {
    font-size: 20px;
  }

  .nav__open {
    opacity: 1;
    visibility: visible;
  }
  nav ul li a {
    color: #fff;
  }
}

/* ------------------------------------------ */
/* --------- HEADER ------------- */
/* -------------------------------- */
.headerclass {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 70px;
}
.header-text {
  display: flex;
  justify-content: space-between;
}
.header1 {
  margin-bottom: 2rem;
  animation: moveInLeft 2s;
}
.header2 {
  position: relative;
  animation: moveInRight 2s;
}
.header-intro {
  font-size: 48px;
  margin-bottom: 20px;
}
.p1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.headerlink {
  font-size: 1.2rem;
  background-color: #000;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.header-shape {
  width: 389px;
  height: 344px;
  border-radius: 8px;
  background: #09c269;

  position: absolute;
  top: 15%;
  right: 3%;
}
.header-img1 {
  position: absolute;
  top: 29%;
}
.header-img2 {
  position: absolute;
  right: 0%;
}
.class1 {
  height: 30rem;
}

@media screen and (max-width: 1400px) {
  .header-intro {
    font-size: 2rem;
  }
  .p1 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .header-shape {
    width: 250px;
    height: 200px;
    top: 20%;
    right: 3%;
  }
  .header-img1 {
    width: 150px;
    left: 32%;
  }
  .header-img2 {
    width: 150px;
  }
}

@media screen and (max-width: 400px) {
  .headerclass {
    margin-bottom: 50px;
  }
  .header-text {
    flex-direction: column;
    align-items: center;
  }
  .header-intro {
    font-size: 1.2rem;
    margin-bottom: 7px;
  }
  .p1 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .header-shape {
    width: 120px;
    height: 109px;
    display: none;
  }
  .class1 {
    height: 250px;
  }
  .header-img1 {
    width: 80px;
    /* top: 0; */
    /* left: 0; */
    display: none;
  }
  .header-img2 {
    width: 80px;
    display: none;
  }
  .headerlink {
    font-size: 0.8rem;
    background-color: #000;
    padding: 0.8rem 1.2rem;
  }
}
/* -------------------------------------------------- */
/* ------ BONUS ------------------------- */
/* ---------------------------------------- */

.bonus {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 90px;
}

.main2 {
  background-color: black;
  color: #fff;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15rem;
  border-radius: 24px;
}
.main2 h3 {
  font-size: 2rem;
}
.bonus-link {
  color: #000;
  background-color: #ffff;
  border-radius: 8px;
  text-decoration: none;
  padding: 16px 32px;
}

@media screen and (max-width: 1350px) {
  .main2 h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .main2 {
    gap: 25rem;
  }
  .main2 h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1100px) {
  .main2 {
    gap: 20rem;
  }
  .main2 h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .main2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding-left: 30px;
    height: 13rem;
  }
}
/* -------------------------------------------------- */
/* ------ PRODUCT --------- */
/* -------------------------------------------------- */

.product {
  width: 100%;
  margin: 0 auto;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-group {
  width: 228.845px;
  height: 250px;
  border-radius: 12px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
}
.product-front {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #fff1f9;
}
.product-image {
  width: 166.667px;
  height: 250px;
}
.product-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.product-back-head {
  color: #fff;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 10px;
}
.product-back-text {
  color: #fff;
  overflow-y: hidden;
  z-index: 0;
  margin-bottom: 7px;
}
.product-back-rating {
  margin-bottom: 4px;
}
.product-button {
  display: inline-flex;
  padding: 16px 32px;

  color: #000;
  background-color: #fff;
  font-size: 12x;
  border-radius: 8px;
  gap: 10px;
  text-decoration: none;
}

.product-group:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.29) 0%, #000 50%);
  transition: all 5s;
}
.product-group:hover .product-front {
  opacity: 0.3;
  transition: all 0.4s;
}
.product-group:hover .product-back {
  transform: translateY(-110%);
  opacity: 1;
  z-index: 0;
  visibility: visible;
  transition: all 0.4s;
}
.product-group:hover .product-image {
  opacity: 0.4;
}

@media screen and (max-width: 400px) {
  .product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .product-group {
    width: 128.845px;
    height: min-content;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
    overflow: hidden;
  }
  .product-front {
    display: flex;
    justify-content: center;
    width: 154.032px;
    height: 168.271px;
    background-color: #fff1f9;
    border-radius: 8.077px;
    overflow: hidden;
  }
  .product-image {
    width: 112.181px;
    height: 168.271px;
  }
  .product-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    overflow-y: hidden;
  }
  .product-back-head {
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }
  .product-back-text {
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .product-button {
    display: inline-flex;
    padding: 14px 25px;

    color: #fff;
    background-color: #000;
    font-size: 12px;
    border-radius: 8px;
    gap: 6.731px;
    margin: 8px;
    text-decoration: none;
  }
  .product-rating-star {
    width: 14px;
    height: 140px;
  }
  .product-group:hover .product-back {
    transform: translateY(0%);
  }
  .product-group:hover {
    background: none;
  }
  .product-group:hover .product-front {
    opacity: 1;
    transition: all 0.1s;
  }
}
/* -------------------------------------------------- */
/* ------ REVIEW ------------------------- */
/* ---------------------------------------- */
.review {
  width: 80%;
  margin: 0 auto;
  margin-top: 115px;
  margin-bottom: 96px;
}
.review-container {
  height: 504.443px;
  border-radius: 24px;
  background: #cef3e1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 270px;
}
.review-text-head {
  font-size: 36px;
  margin-bottom: 10px;
}
.review-text-paragraph {
  font-size: 20px;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 18px;
}
.review-text-link {
  color: #000;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  background: #fff;
}
.review-shape,
.review-shape-img {
  width: 389.011px;
  height: 344.202px;
  border-radius: 8px;
  background: #09c269;
  margin-bottom: 17px;
}
.review-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review-shape-caption {
  text-align: left;
  font-size: 18px;
  margin-bottom: 6px;
}
.review-shape-caption-text {
  text-align: left;
  font-size: 16px;
}

@media screen and (max-width: 400px) {
  .review {
  }
  .review-container {
    height: 680.443px;
    border-radius: 24px;
    background: #cef3e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .review-text-head {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .review-text-paragraph {
    font-size: 16px;
  }
  .review-text-link {
    font-size: small;
    padding: 11px 22px;
    margin-bottom: 17px;
  }
  .review-shape,
  .review-shape-img {
    height: 344.202px;
    height: 279.451px;
    width: 270px;
    object-fit: cover;
    border-radius: 8px;
    background: #09c269;
    margin-bottom: 17px;
  }
  .review-shape {
    display: block;
  }
  .review-shape-caption {
    font-size: 16px;
  }
  .review-shape-caption-text {
    font-size: 14px;
  }
}
/* -------------------------------------------------- */
/* ------ TESTIMONIALS ------------------------- */
/* ---------------------------------------- */

.testimonial {
  width: 100%;
  background-color: #000;
  color: #fff;
}
.testimonial-header {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  padding-top: 41px;
  padding-left: 120px;
}
.testimonial-container {
}
.testimonial-container-type1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-container-type2 {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
.testimonial-container-type3 {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
.testimonial-card {
  width: 376px;
  height: min-content;
  display: flex;
  padding: 16px;
  gap: 14px;
  margin: 30px;

  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.testimonial-card-img {
  width: 35.447px;
  height: 35.447px;
}

.testimonial-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-card-name {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.testimonial-card-text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.testimonial-footer {
  text-align: right;
  margin-right: 10rem;
  padding-bottom: 38px;
}

.card4 {
  background-color: #cef3e1;
}

@media screen and (max-width: 400px) {
  .testimonial-header {
    text-align: center;
    padding-left: 0px;
  }
  .testimonial-container-type1 {
    flex-direction: column;
  }
  .testimonial-container-type2 {
    flex-direction: column;
  }
  .testimonial-container-type3 {
    flex-direction: column;
  }
  .testimonial-card-name {
    font-size: 12px;
  }
  .testimonial-card-text {
    font-size: 10px;
  }
  .testimonial-card-rating svg {
    width: 63px;
    height: 17px;
  }
  .testimonial-card {
    width: 300px;
  }
}
/* -------------------------------------------------- */
/* ------ ADVERTISE ------------------------- */
/* ---------------------------------------- */
.advertise {
  width: 80%;
  margin: 0 auto;
}

.advertise-container {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.advertise-gist-header {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}
.advertise-gist-text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.advertise-form-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

.advertise-form-input-submit {
  width: 30%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

@media screen and (max-width: 400px) {
  .advertise-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .advertise-gist-header {
    font-size: 24px;
  }
  .advertise-gist-text {
    font-size: 16px;
  }

  .advertise-form-input {
    float: left;
  }

  .advertise-form-input-submit {
    float: left;
  }
}

.advertise-form-input-submit:hover {
  background-color: #45a049;
}
/* -------------------------------------------------- */
/* ------ FOOTER ------------------------- */
/* ---------------------------------------- */
.footer {
  width: 100%;
  background-color: #f3f4f6;
}
.footer-container {
  display: flex;
  padding: 40px;
  margin: 20px;
  margin-bottom: 0;
  justify-content: space-around;
}

.footer-mission-logo-img {
  padding-bottom: 18px;
}
.footer-mission-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 67px;
}
.footer-mission-navbar {
  list-style: none;
  margin-bottom: 58px;
}
.footer-mission-nav {
  display: inline;
  padding-right: 23px;
}

.footer-policy {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer-policy-head {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.footer-policy-email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.footer-policy-form-submit {
  width: 40%;
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type='submit']:hover {
  background-color: #45a049;
}
.footer-policy-trademarks {
  display: flex;
  align-items: center;
  gap: 13px;
}
.footer-policy-details a {
  color: #000;
}

@media screen and (max-width: 400px) {
  .footer-container {
    flex-direction: column-reverse;
  }
  .footer-mission {
    margin-top: 20px;
  }
  .footer-mission-logo-img {
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .footer-mission-text {
    color: #000;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .footer-mission-navbar {
    list-style: none;
    margin-bottom: 20px;
  }
  .footer-mission-nav {
    font-size: 12px;
    display: inline;
    padding-right: 16px;
  }
  .footer-mission-reserved {
    font-size: 12px;
  }

  .footer-policy-head {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
  }
  .footer-policy-text {
    font-size: 12px;
  }
  .footer-policy-email {
    display: inline;
    font-size: 12px;
    padding: 10px 12px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #cbd1db;
    background: #fff;
    width: 100%;
  }
  .footer-policy-form {
    position: relative;
  }
  .footer-policy-form-submit {
    display: flex;
    padding: 9px 18px;
    border-radius: 8px;
    background: #09c269;
    width: min-content;
  }
  .footer-policy-details a,
  .footer-policy-details {
    font-size: 12px;
  }
}

/* -------------------------------------------------- */
/* ------ ANIMATION ------------------------- */
/* ---------------------------------------- */
@keyframes moveInLeft {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes moveInRight {
  from {
    transform: translateX(+200%);
  }

  to {
    transform: translateX(0%);
  }
}
